#define VER_COMPANYNAME            "0xB00B\0"
#define VER_FILEDESCRIPTION        "A Collection of Registry Hacks For Windows 10.\0"
#define VER_LEGALCOPYRIGHT         "0xB00B\0"
#define VER_PRODUCTNAME            "RegHacks\0"
#define VER_PRODUCTVERSION         "v1.1\0"

0 ICON        "RegHacks.ico"

1 RT_MANIFEST "RegHacks.manifest"

2 VERSIONINFO
FILEVERSION     0,1,1,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME
            VALUE "FileDescription",  VER_FILEDESCRIPTION
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT
            VALUE "ProductName",      VER_PRODUCTNAME
            VALUE "ProductVersion",   VER_PRODUCTVERSION
        END
        BLOCK "080904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME
            VALUE "FileDescription",  VER_FILEDESCRIPTION
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT
            VALUE "ProductName",      VER_PRODUCTNAME
            VALUE "ProductVersion",   VER_PRODUCTVERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409,1252, 0x809,1252
    END
END
